form {
    width: 500px;
    margin-left: 22%;
    padding-top: 100px;
}
a{
    padding-right: 15px;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding-top: 66px;
    margin-left: 22%;
    color: red;
}